.brand-list .brand-item h2{
    padding-left:10px ;
    border-left:4px solid rgb(255, 0, 123);
    margin: 35px 25px;
}
body{
    background: url("/images/blueback.jpg");
    background-size:cover ;
}
img{
    margin-left: 25px;
    width: 200px;
    height: 100px;
}
.brand-list {
    display: flex;
    justify-content: space-between;
}