
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            text-align: center;
        }

        h2 {
            color: #333;
        }

        label {
            display: block;
            margin-top: 16px;
            margin-bottom: 8px;
            text-align: left;
        }

        input {
            width: calc(100% - 16px);
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .password-container {
            position: relative;
        }

        #password {
            width: calc(100% - 30px);
        }

        .password-toggle {
            position: absolute;
            right: 15px;
            top: 30%;
            transform: translateY(-50%);
            cursor: pointer;
        }

        button {
            background-color: rgb(255, 0, 123);;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: rgb(255, 0, 123);;
        }

        .signup-link {
            margin-top: 16px;
            color: #333;
            text-decoration: none;
            display: inline-block;
        }

        .signup-link:hover {
            text-decoration: underline;
        }
