@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}
.main-header{
    position: sticky;
    top: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 70px;
    background: #fff;
}
.drop-down-list select{
    border: 3px solid #7e7e7e;
    padding: 10px 20px;
    font-size: 15px;
    color: #7e7e7e;
}
.right-bar{
    display: flex;
}
.header h1{
    color: rgb(255, 0, 123);
    font-weight: 900;
}
.header span{
    color: #000;
}

.header input{
    width: 550px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #e2e2e2;
    font-size: 17px;
    padding: 0 30px;
}

.right-bar .icons{
    padding: 0 15px;
}
.right-bar .icons a{
    text-decoration: none;
}
.right-bar img{
    width: 20px;
    color: #e2e2e2;
}
.right-bar .icons h6{
    color: #7e7e7e;
}
.right-bar .icons:first-child img{
    padding-left: 10px;
}
.load-more-button{
    margin-left: 42%;
    margin-bottom: 50px;
    text-align: center;
    padding: 15px 70px;
    cursor: pointer;
}
.hr1{
    border: 1px solid rgb(215, 215, 215);
    margin: 0px 15px;
}
.header2{
    background: #fff;
    display: flex;
    align-items: center;
    padding: 20px 70px;
}
.header2 .drop-down-list{
    margin-right: 8px;
}
.header2 .nav-bar ul{
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    border-left: 2px solid rgb(215, 215, 215);
}
a{
    color: #545454;
    text-decoration: none;
}
.nav-bar li{
    padding: 0 25px;
    list-style: none;
}
.middle-content{
    background-color: #ffbef6;
    display: flex;
    justify-content: space-between;
    padding: 30px 70px;
}
.middle-content .left h3{
    color: #545454;
    margin:0px 0px 27px 0px;
}
.middle-content .left .title{
    line-height: 3rem;
    padding-bottom: 20px;
}
.middle-content .left h1 span{
    color: rgb(255, 0, 123);
}
.middle-content .left p{
    color: #545454;
    padding-bottom: 20px;
}
button{
    background: rgb(255, 0, 123);
    padding: 15px 38px;
    border: none;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
}
.price-bar{
    display: flex;
    padding: 20px 0px;
}
.price-bar .item{
    padding:0px 15px;
}
.price-bar .item p{
    font-size: 13px;
}
.middle-content .right img{
    width: 660px;
}
.categories{
    margin: 30px 70px;
    margin-bottom: 230px;
}
.categories h1{
    padding-left: 15px;
    border-left: 5px solid rgb(255, 0, 123);
    margin-bottom: 30px;
}
.categories h1 span{
    color: rgb(255, 0, 123);
}
.cat-item{
    margin: 0px 200px;
    display: flex;
    justify-content: space-between;
}
.cat-item .items{
    padding: 20px;
}
.cat-item img{
    width: 150px;
    height: 200px;
    border-radius: 15px;
}
.cat-item .items h3{
    margin-top: -200px;
    margin-left: 30px;
    color: #fff;
}
.promotion-banner{
    padding: 30px 70px;
    background: url("../images/blueback.jpg");
    background-size:cover ;
    display: flex;
    justify-content: space-between;
}
.promotion-banner h4{
    color: rgb(255, 0, 123);
    margin-bottom: 30px;
}
.promotion-banner h1{
    margin-bottom: 30px;
}
.time{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.time .round{
    width: 70px; 
    height: 70px; 
    padding: 15px 10px;
    margin-left: 20px;
    background: #fff;
    border-radius: 50%;
    text-align: center; 
    box-sizing: border-box; 
}
.time .round:first-child{
    margin-left: -20px;
}
.promotion-banner .right{
    margin-left: 300px;
    width: 700px;
    height: 400px;
}
.explore{
    padding: 30px 70px;
}
.explore h1{
    padding-left: 15px;
    border-left: 5px solid rgb(255, 0, 123);
    margin-bottom: 30px;
}
.explore h1 span{
    color: rgb(255, 0, 123);
}
.item-set{
    display: flex;

}
.item-set .arrivels img{
    width: 180px;
    height: 200px;
}
#add-cart-btn{
    margin-left: 30px;
    padding: 7px 15px;
    border: 2px solid rgb(255, 0, 123);
    color: rgb(255, 0, 123);
    background: #fff;
    cursor: pointer;
}
.item-set {
    justify-content: space-between;
    margin: 20px 150px;
}
.item-set .arrivels{
    margin-bottom: 15px;
}
.item-set .arrivels h6{
    color: rgb(255, 0, 123);
}
.item-set .arrivels #price-list{
    margin-bottom: 10px;
}
.trending{
    display: flex;
    justify-content: space-between;
    margin: 0px 140px;
}
.trending .trend{
    display: flex;
    justify-content: space-between;
    background: #89daff;
    padding: 15px 15px;
    margin-right: 5px;
}
.trending .trend:first-child{
    background: url("../images/background.jpg");
}
.trending .trend img{
    width: 150px;
    height: 180px;
}
.trending .trend h6{
    color: rgb(255, 0, 123);
    margin-bottom: 10px;
}
.trending .trend h1{
    line-height: 35px;
}
.benifits {
    display: flex;
    justify-content: space-between;
    margin: 30px 140px;
}
.benifits .ben{
    text-align: center;
}
.benifits .ben img{
    background: rgb(255, 0, 123);
    padding: 10px;
    border-radius: 50px;
}
.benifits .ben h3{
    font-weight: 550;
}
.benifits .ben p{
    font-size: 12px;
}
.footer{
    background: #0f0f0f;
    padding: 30px 40px;
}
.footer .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.footer .top .content{
    color:#e2e2e2;
}
.footer .top .one h2{
    color: rgb(255, 0, 123);
    padding-bottom: 18px;
}
.footer .top .one span{
    color: #fff;
}
.footer .top .one p{
    padding-bottom: 15px;
}
.footer .top .one input{
    background: transparent;
    padding: 10px 20px;
    border: 2px solid #fff;
    color: #fff;
}
.footer .top .one input::placeholder{
    color: #fff;
    font-size: 15px;
}
.footer .top .two h3,
.footer .top .three h3,
.footer .top .four h3,
.footer .top .five h3{
    padding-bottom: 18px;
}
.footer .top .two p{
    padding-bottom: 13px;
}
.footer .top .three p,
.footer .top .four p{
    padding-bottom: 13px;
}
.footer .top .three a,
.footer .top .four a{
    color: #fff;
}
.footer .top .five p{
    padding-bottom: 15px;
}
.footer .top .five a{
    color: #fff;
    padding: 10px 20px;
}
.footer .top .five img{
    width: 40px;
    margin-top: 10px;
    margin-left: -15px;
}
.footer .bottom{
    margin-top: 20px;
    color: #fff;
    text-align: center;
}
.about-us{
    padding: 30px 70px;
}
.about-us span{
    color: rgb(255, 0, 123);
}
.about-us .head{
    padding-bottom: 40px;
}
.about-us .head h1{
    text-align: center;
    padding-bottom: 10px;
}
.about-us .story{
    padding-bottom: 40px;
}
.about-us .story h2{
    padding-left:10px ;
    border-left:4px solid rgb(255, 0, 123);
    margin-bottom: 15px;
}
.about-us .apart{
    padding-bottom: 40px;
}
.about-us .apart h2{
    padding-left:10px ;
    border-left:4px solid rgb(255, 0, 123);
    margin-bottom: 15px;
}
.about-us .apart li{
    padding-bottom: 10px;
    list-style: none;
}
.about-us .promis{
    margin-bottom: 40px;
}
.about-us .promis h2{
    padding-left:10px ;
    border-left:4px solid rgb(255, 0, 123);
    margin-bottom: 15px;
}
.about-us .promis p{
    margin-bottom: 10px;
}
.about-us .promis .regards p{
    font-weight: 600;
}
.about-us .promis .regards span{
    color: rgb(255, 0, 123);
}