@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 70px;
}
.right-bar{
    display: flex;
}
.header h1{
    color: rgb(255, 0, 123);
    font-weight: 900;
}
.header span{
    color: #000;
}

.header input{
    width: 550px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #e2e2e2;
    font-size: 17px;
    padding: 0 30px;
}

.right-bar .icons{
    padding: 0 15px;
}
.right-bar .icons a{
    text-decoration: none;
}
.right-bar img{
    width: 20px;
    color: #e2e2e2;
}
.right-bar .icons h6{
    color: #7e7e7e;
}
.right-bar .icons:first-child img{
    padding-left: 10px;
}

.hr1{
    border: 1px solid rgb(215, 215, 215);
    margin: 0px 15px;
}
.header2{
    display: flex;
    align-items: center;
    padding: 20px 70px;
}
.header2 .drop-down-list{
    margin-right: 8px;
}
.header2 .nav-bar ul{
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    border-left: 2px solid rgb(215, 215, 215);
}
a{
    color: #545454;
    text-decoration: none;
}
.nav-bar li{
    padding: 0 25px;
    list-style: none;
}
.middle-content{
    background: url("/images/background.jpg");
    display: flex;
    justify-content: space-between;
    padding: 30px 70px;
}
.middle-content .left h3{
    color: #545454;
    margin:0px 0px 27px 0px;
}
.middle-content .left .title{
    line-height: 3rem;
    padding-bottom: 20px;
}
.middle-content .left h1 span{
    color: rgb(255, 0, 123);
}
.middle-content .left p{
    color: #545454;
    padding-bottom: 20px;
}
.middle-content .left button{
    background: rgb(255, 0, 123);
    padding: 15px 38px;
    border: none;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
}
.price-bar{
    display: flex;
    padding: 20px 0px;
}
.price-bar .item{
    padding:0px 15px;
}
.price-bar .item p{
    font-size: 13px;
}
.middle-content .right img{
    width: 660px;
}