*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    color: #000000;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 3px solid #9a9a9a;

}
.header .left{
    margin-right: 1200px;
}
.header a{
    text-decoration: none;
    color: rgb(255, 0, 123);
}
.header h1{
    color: rgb(255, 0, 123);
    font-weight: 900;
}
.header span{
    color: #000;
}

.title{
    margin: 10px;
    padding: 5px;
    border-left: 5px solid rgb(255, 0, 123);
    text-align: start;
}
table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 55px;
}

th,
td {
    border-bottom: 1px solid #ccc;
    padding: 12px;
    text-align: left;
    color: #3e3e3e;
}

th {
    background-color: #fff;
    color: #000000;
}

.crud{
    display: flex;
    justify-content: space-between;
    margin: 10px 80px 0 50px;
}

.form-container {
    max-width: 400px;
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-top: 8px;
    color: #000;
}

input,
button {
    margin-bottom: 16px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0947ff;
    color: #ffffff;
    cursor: pointer;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 16px 0;
}

.btn-update,
.btn-delete {
    background-color: rgb(255, 0, 123);
    color: #ffffff;
    padding: 8px;
    max-width: 100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-update{
    background-color: #17c400;
}
.btn-delete{
    background-color: #17c400;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
}

.modal label,
.modal input,
.modal button {
    width: 100%;
    margin-bottom: 16px;
}

.modal button {
    background-color: #17c400;
    color: #ffffff;
    cursor: pointer;
}
.delete-form button{
    background-color: #ff4545;
}